# ==========================================
# 📌 COMANDOS ÚTEIS (Copie e cole no terminal)
# ==========================================
# 1. Criar o ambiente virtual (Rode apenas na 1ª vez):
# python -m venv venv
#
# 2. Ativar o ambiente virtual (Rode SEMPRE que abrir o projeto):
# .\venv\Scripts\activate      # (Windows)
# source venv/bin/activate     # (Linux/Mac)
#
# 3. Instalar/Atualizar bibliotecas:
# pip install -r requirements.txt
#
# 4. Rodar o servidor da API:
# uvicorn main:app --reload
# ==========================================

ENVIRONMENT=development
# Altere para data/ETHUSDT_1m.parquet ou data/XRPUSDT_1m.parquet para testar outras moedas
DATA_FILE_PATH=data/BTCUSDT_1m.parquet
BINANCE_API_KEY=
BINANCE_SECRET_KEY=
